//-------colors-----------
$accents: #E91E63
$header : #03a9f4
$logo-wrapper: #9E9E9E
$dev-wrapper: #4dc1eb
$design-wrapper: #149853
$photo-wrapper: #ffca28
$facebook: #3949AB
$gplus: #D32F2F
$twitter: #2196f3
$qualifications-wrapper: #455A64
$haribati: #71c646
$github:  #8bc34a
$codepen: #cddc39
$youtube: #EF5350
$footer: #26A69A
//-------colors-----------
